<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>New URL - TinyApp Example</title>
</head>


<body>
        <% include partials/_header %>

    <form action="/register" method='POST'>
        <h2>Create New Account</h2>
        <div>
            Email
        </div>
        <div>
            <input type="text"  name="email"/>
        </div>
        <div>
            Password
        </div>
        <div>
            <input type="password" name="password" />
        </div>
        <button method="POST" type="register" action="/register" class="btn btn-danger">Register</button>
    </form>
</body>

</html>